<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Basic reproduction number R_0/N
Outbreak size R_\infty/N
R_\infty vs R_0
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
